.header-message-ncs{
    margin: 100px 100px 0 100px;
    /* position: absolute; */
    background: linear-gradient(to left, rgba(169, 169, 170, 0.52), #3f5470), 
    url('../images/file-20200811-23-1ojsq4d.jpg') fixed center center;
    /* background-size: cover; */
    box-shadow: 0px 0px 2px 0px rgba(248, 246, 246, 0.377);
    height: 200px;
    padding: 20px;
    
    /* width: 50%;
    right: 0px; */
}

.category{
    margin: 50px 100px 0 100px;
}

.cards{
    margin-top: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap:12px;
    text-align: center;
    
}
.card{
    box-shadow: 0px 0px 2px 0px rgb(150, 150, 150);
    transition: .2s all;
}
.card a{
    text-decoration: none;
    
}
.card:hover{
    z-index: 1;
    box-shadow: 0px 0px 2px 0px #2C73D2;
    transform: scale(1.1)

}



.card h3{
    position: relative;
    color: #2C73D2;
    transition: all linear 0.25s;
}
.card p{
    position: relative;
    color: #525151;
    padding: 5px;
    transition: all linear 0.25s;
    
    
}

.card:hover .card p{
    transform: scale(1.1);
    bottom: 5px;
}

.card:hover .card h3{
    bottom: 5px;
}
.card-image-nsc img{
    width: 100%; height:90px;
    transition: all linear .2s;
    object-fit: contain;
   
}

.card:hover .card-image img{
    filter: grayscale(100%);

}
.card-card{
    padding: 10px;
}
.website-link a {
    left: auto;
    background-color: #202020;
    border-radius: 10px;
    border: none;
    padding: 5px 22px;
    color: #fff;
    transition: ease-in-out .5s;
    cursor: pointer;
    position: absolute;
    text-decoration: none;
}
.website-link a:hover{
    background-color:#253a97;
    
}
.right-side{
    width: 85%;
}
.cardexit{
    font-size: 30px;
    color: #b6b6b6;
    cursor: pointer;
    transition: ease-in .2s;
}
.cardexit:hover{
    color: #000;
}
.single-item{
    display: flex;
    box-shadow: 0px 0px 2px 0px rgb(48, 47, 47);
    /* margin: 0 auto; */
    margin: 10px auto;
    width: 90%;
    padding: 10px
}

.single-item h3{
    color: #2C73D2;
}
.show{
    background: none;
    border: none;
    cursor: pointer;
}
.showgrade{
    background: none;
    border: none;
    cursor: pointer;
}

.grademodal{ 
    position: fixed;
    top:0;
    left:0;
    z-index:1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.616);
    transition: ease-in .3s;
}
.modal-content{
    margin: 10% auto;
    background-color: #fff;
    width: 80%;
    padding: 20px;
    box-shadow: 0px 0px 2px 0px rgb(59, 59, 59);
    transition: ease-in .3s;
}
.gradeexit{
    font-size: 30px;
    color: #b6b6b6;
    cursor: pointer;
    transition: ease-in .2s;
}
.gradeexit:hover{
    color: #000;
}

.myhiddenG{
    display: none;
}

/* Background configs */
.grade9{
    background: linear-gradient(to left, rgba(169, 169, 170, 0.52), #3f5470), 
    url('../images/5d7642403.jpg') fixed center center !important;

}
.talent{
    background: linear-gradient(to left, rgba(169, 169, 170, 0.52), #3f5470), 
    url('../images/talent.jpg') fixed center center !important;
}
.talent2{
    background: linear-gradient(to left, rgba(169, 169, 170, 0.52), #3f5470), 
    url('../images/ball.jpg') fixed center center !important;
}

.unemployment{
    background: linear-gradient(to left, rgba(169, 169, 170, 0.52), #3f5470), 
    url('../images/unee.jpg') fixed center center !important;
}

.unemployment2{
    background: linear-gradient(to left, rgba(169, 169, 170, 0.52), #3f5470), 
    url('../images/skill.jpg') fixed center center !important;
}

.grade9-2{
    background: linear-gradient(to left, rgba(169, 169, 170, 0.52), #3f5470), 
    url('../images/slow.jpg') fixed center center !important;
}
.grade10-12{
    background: linear-gradient(to left, rgba(169, 169, 170, 0.52), #3f5470), 
    url('../images/learning.jpg') fixed center center !important;
}
.grade10-12-2{
    background: linear-gradient(to left, rgba(169, 169, 170, 0.52), #3f5470), 
    url('../images/learning2.jpg') fixed center center !important;
}
.grade10-12-3{
    background: linear-gradient(to left, rgba(169, 169, 170, 0.52), #3f5470), 
    url('../images/book.jpg') fixed center center !important;
}
.business{
    background: linear-gradient(to left, rgba(169, 169, 170, 0.52), #3f5470), 
    url('../images/shop.jpg') fixed center center !important;
}
.business2{
    background: linear-gradient(to left, rgba(169, 169, 170, 0.52), #3f5470), 
    url('../images/buss2.jpg') fixed center center !important;
}

@media screen and (max-width: 767px){
.category {
    margin: 50px 30px 0 30px;
}

.header-message-ncs {
    background: none;
    padding: 0;
}
}