
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:ital,wght@0,200;1,400&display=swap');

body{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}
header{
    background: linear-gradient(to left, rgba(169, 169, 170, 0.52), #3f5470), 
    url('file:///C:/Users/me/Desktop/BIT/SECOND%20YEAR/DSW/group%20project/website/images/heritage-day-instagram-stars.jpg') fixed center center;
    height: 100vh;
    
    background-size: cover;
}
.welcome-text{
    position: absolute;
    right: 25%;
    top: 30%;
    left:25%;
    transform: translateY(-50, -50)
}
.welcome-text p{
    line-height: 25px;
    color: #202020;

}
.register-button{
    background-color:#202020;
    border-radius: 10px;
    border:none;
    padding: 9px 22px;
    color:#fff;
    transition: ease-in-out .5s;
}
.login-button{
    background:none;
    border:none;
    border: 2px solid #202020;
    color: #202020;
    border-radius: 10px;
    padding: 7px 20px;
    margin: 0 8px;
    transition: ease-in-out .5s;
}
.login-button:hover{
    background:#2C73D2;
    border: none;
}
.register-button:hover{
    background:#2C73D2;
}


.header-nav{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 8vh;
    
    
}
.logo p{
    padding-top: 5px;
    color: #202020;
    font-size: 1em;
}
.nav-lists{
    display: flex;
}
.list-nav{
    display: flex;
    text-decoration: none;
    list-style: none;
    padding-top: 5px;
    justify-content: space-around;
    
}
.list-nav li a{
    margin-left: 20px;
    text-decoration: none;
    color: #202020;
    word-spacing: 4px;
    transition: ease-in-out .5s;
    font-weight: 1px;
    font-size: 1em;
}

.list-nav li a:hover{
    color:#2C73D2
}
.burger-menu{
    display: none;
}

.burger-menu div{
    width: 25px;
    height: 3px;
    background-color: #202020;
    font-size: 20px;
    margin: 5px;

}

/* fixed nav */
.fixed-nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(247, 245, 245, 0.856);
    height: 50px;
    box-shadow: 0 2px 2px rgb(150, 150, 150);
    z-index: 99999;
    transition: ease .5s;
}
.fixed-nav .header-nav .list-nav{
    padding-top: 0;
}

/* ===============================ABOUT US PAGE================================================== */
/* =================================================================================================== */
.intro-page{
    /* height: 100vh; */
    padding: 0 8%;
    color:#525151;
}
.intro-page p{
    text-align: center;
    line-height: 25px;
}
.first-letter{
    color:#2C73D2;
}
.intro-text{
    padding:0 15%;  
}
.section-heading{
    padding-top: 50px;
    text-align: center;  
    color: #525151;
    text-transform: uppercase;
    position: relative;
}
.section-heading::before{
    content: '';
    position: absolute;
    margin-top: 20px;
    width: 20%;
    height: 2px;  
    background-color: #2C73D2; 
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    top: 70px;
}
.section-heading:after{
    content: '';
    position: absolute;
    margin-top: 30px; 
    background-color: #393939;
    width: 10px;
    height: 10px;   
    bottom: 0;
    left: 50%;
    transform: translate(-50%,50%) rotate(45deg);
    top: 50px;
}
.intro-page-content{
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:20px;
    text-align: center;
}
.row{
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%;
}
.col:first-child{
    margin-left: 0;
}
.col-1{
    width: 100%;
}
.col-1 p{
    text-align:justify;
}
.row-image img{
    width:100%;
    height: 180px;
    object-fit: cover;
}
.row{
    color:#525151;
}
.row h3{
    text-transform: uppercase;
}

/* ===============================HOW IT WORKS PAGE=================================================== */
/* =================================================================================================== */

.how-it-works{
    padding:0px 20px;
    background-color: #b6b6b6;
    /* height: 100vh; */
}
.how-it-works h1{
    text-align: center;  
    color: #fff;
    text-transform: uppercase;
}
.how-it-works .how-it-works-steps{
    padding: 0 100px;
    margin: 0 auto;
    position: relative;
}
/* tHE MIDDLE LINE */
.how-it-works .how-it-works-steps::before{
    content: "";
    position: absolute;
    width: 1px;
    height: calc(100% - 20px);
    background-color:#393939;
    left: 50%;
    transform: translateX(-50%); 
}
.how-it-works .how-it-works-steps .rows{
    display:flex
}
.how-it-works .how-it-works-steps .rows.left{
    justify-content: flex-start;
}
.how-it-works .how-it-works-steps .rows.right{
    justify-content: flex-end;
}
.how-it-works .how-it-works-steps .rows .step-number{
    padding: 20px;
    /* background-color: #2C73D2;
    color: #fff; */
    width: calc(50% - 70px);
    position: relative;
    box-shadow: 0 10px 20px rgba(169, 169, 170, 0.52);
}

/* tHE DOTS IN THE MIDDLE LINE */
.how-it-works .how-it-works-steps .rows .step-number::before{
    content: "";
    position: absolute;
    width: 20px; height:20px;
    border-radius: 50%;
    background-color: #525151;
    top: 50%;
    transform: translateY(-50%);
}
.how-it-works .how-it-works-steps .rows.left .step-number::before{ right: -40px;}
.how-it-works .how-it-works-steps .rows.right .step-number::before{ left: -40px;}
.how-it-works .how-it-works-steps .rows.step-number::after{
    content: "";
    position: absolute;
    width: 20px;height: 20px;
    background-color: #3f5470;
    top:47%;
    transform:rotate(45deg) translateY(-50%);
    z-index:-1;
}
.step-1{background-color: #2C73D2; color: #fff; }
.step-2{background-color: #525151; color: #fff; }
.step-3{background-color: #2C73D2; color: #fff; }
.step-4{background-color: #525151; color: #fff; }
.step-5{background-color: #2C73D2; color: #fff; }

.how-it-works .how-it-works-steps .rows.left .step-number::after{right: -3px; }
.how-it-works .how-it-works-steps .rows.right .step-number::after{ left: -17px;}
.how-it-works .how-it-works-steps .step-number h3{
    text-transform: capitalize;
    margin-bottom: 10px;
    font-size: 20px;
}
.how-it-works .how-it-works-steps .step-number p{
    letter-spacing: 1px;
    margin-bottom: 10px;
}

/* ==========================================OUR TEAM PAGE======================================================= */
/* =================================================================================================== */
.our-team{
    margin: 0 120px;
    
}

.our-team ul{
    text-align: center;
    line-height: 25px;
    list-style: none;
    color: #525151;
}
.team-cards{
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:20px;
    text-align: center;
    
}
.member-card{
    box-shadow:  0 10px 20px rgba(169, 169, 170, 0.52);
}
.member-card h3{
    color: #2C73D2;
}
.member-card p{
    color: #393939;
}
.member-image{
    border-radius: 50%;
    
}
.member-image img{
    widows: 100px; height:100px;
    border-radius: 50%;
    box-shadow:  0 10px 20px rgba(169, 169, 170, 0.52);
}
.member-card{
    padding: 10px;
}

/* ===============================CONTACT US PAGE================================================== */
/* =================================================================================================== */

.contact-us{
    padding: 0 120px;
    height: 100vh;
}
.contact-us-container h3{
    text-align: center;
    color: #525151
}
.contact-us-left ul{
    text-align: center;
    line-height: 25px;
    list-style: none;
    color: #525151;
}

.contact-us-right{
    width: 30%;
    padding: 20px;
    position: absolute;
    line-height: 25px;
    left: 30%;
}
.form-field{
    width: 100%;
    position: relative;
    margin-top: 15px;
}
.form-field input,
.form-field textarea
{
    width: 100%;
    padding: 12px 0;
    border: none;
    background: #525151;
    outline: none;
    resize: none;
    color: #fff;
}

.form-field input[type="submit"]{
    width:25%;
    padding: 10px 15px;
    background: #2C73D2;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: ease .5s;
}

.form-field input[type="submit"]:hover{
    background:#525151;
}

.form-field span{
    position: absolute;
    left: 10px;
    top: 10px;
    transition: 0.5s;
    color: #fff;
}
.form-field input:focus ~ span,
.form-field input:valid ~ span,
.form-field textarea:focus ~ span,
.form-field textarea:valid ~ span{
    font-size:12px;
    color: #2C73D2;
    transform: translateY(-25px);
}

.contact-form{
  position: absolute;
  left: 33%;
  width: 70%;
}
.contact-form h3{
    text-align: center;
    color: #525151
}
.contact-us-form h2{
    margin-top: 20px;
    text-align: center;
}
.col-lg-6{
    width: 50%;
}

/* ===============================Footer Of the page================================================== */
/* =================================================================================================== */

footer {
    background: #e9ecef;
    color: #202020;

}
.footer-container{
    margin: 0 90px;
   display: grid;
   grid-template-columns: repeat(5, 1fr)
}
.footer-row{
    box-sizing: border-box;
}

.footer-row ul{
    list-style:none;
    padding-left: 0;
}
.footer-row ul li a{
    text-decoration: none;
    color: #202020;
    transition: ease-in-out .2s;
    line-height: 25px;
}
.footer-row ul li a:hover{
    color: #2C73D2;
}

.footer-row ul.icons{
    display: flex;
    padding: 30px 0;
    
}
.footer-row ul.icons img{
    width: 35px;
    height: 35px;
    padding-right: 10px;
    transition: ease-in .2s;
}

.footer-row ul.icons li img:hover{
    width: 45px;
    height: 45px;
   ;
}

.footer-row ul.users li a{
    font-weight:bold;
    font-size: 25px;
    
    
}
.footer-row ul.users li{
    margin: 20px 0;
}