.right-navbar{
    height: 100vh;
    position: absolute;
    width: 15%;
    background-color: #2C73D2;
    border-right: 1px solid #2C73D2;
    color: white;
    top: 0;
    box-shadow: 0px 0px 2px 0px rgb(59, 59, 59)
}
.right-navbar h3{
    text-align: center;
}
.links{
    text-decoration: none;
    list-style: none;
    padding-top: 5px;
    justify-content: space-around;
}
.links li{
    padding: 20px 20px;
}
.links li a::after{
    border-bottom: 1px solid #777;
}
.links li a{
    text-decoration: none;
    color: #fff;
}

.links li a:hover{
 color: #000;   
}

.links-for-navbar{
    display: flex;
    text-decoration: none;
    list-style: none;
    padding-top: 5px;
    justify-content: space-around;
    width: 50%;
}

.links-for-navbar li a{
    margin-left: 10px;
    text-decoration: none;
    color: #202020;
    word-spacing: 4px;
    transition: ease-in-out .5s;
    font-weight: 1px;
    font-size: 1em;
}
.links-for-navbar li a:hover{
    color: #fff;
}


.navbar{
    border-collapse: collapse;
    width: 100%;
    top: 0;
    position: absolute;
    left: 15%;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    background-color: #fff;
    height: 60px;
    border-bottom: 1px solid #2C73D2;
    /* color: ; */
    box-shadow: 0px 0px 2px 0px rgb(59, 59, 59);
}
.left h3{
    position: absolute;
    top: 57px;
    left: 53%;
    margin: 25px 0;
    font-size: 1.5em;
    font-family: sans-serif;
}
.styled-table {
    top: 110px;
    border-collapse: collapse;
    width: 83.5%;
    position: absolute;
    left: 15%;
    margin: 25px 10px;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
}
h2{
    text-align: center;
}
.styled-table thead tr {
    background-color: #2C73D2;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}
.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #2C73D2;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #2C73D2;
}
.buttons{  
    border: 2px solid #2C73D2;
    padding: 5px 20px;
    cursor: pointer;
    transition: ease-in .3s;
    width: 10%;
    margin: 0px 10px
}
.buttons:hover{
    background: #2C73D2;
    color: #fff;
}
.button-flex{
    display: flex;
}
.add-button{
    position: absolute;
    top: 56px;
    left: 80%;
    margin: 25px 0;
    border: 2px solid #2C73D2;
    padding: 5px 20px;
    cursor: pointer;
    transition: ease-in .3s;
}

.add-button:hover{
    background: #2C73D2;
    color: #fff;
}

.add-forms{
    position: absolute;
    top: 200px;
    margin: 70px;
}

.container{
    position: absolute;
    top: 50px;
    left: 25%;
    right: 25%;
}